<!DOCTYPE html>
<html lang="ru"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="compoment_head">
    <meta charset="UTF-8">
    <meta id="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Booking</title>

    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/booking.css}">

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>

<!--Header-menu-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:fragment="header">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Booking</a>
        <button aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarResponsive"
                data-toggle="collapse"
                type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="btn btn-dark" href="/login">Войти</a>
                </li>
                <li class="nav-item mr-5" sec:authorize="isAuthenticated()">
                    <img class="mt-1 mr-1"
                         height="30"
                         sec:authorize="isAuthenticated()"
                         th:src="${'/avatars/' + @pixelAvatarGenerator.getAvatar(#authorization.getAuthentication().getName())}"
                         width="30">
                    <span class="mt-2 text-white" sec:authentication="name"></span>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form method="POST" th:action="@{/logout}">
                        <button class="btn btn-dark" type="submit">Выйти</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
